* {
    font-family: Montserrat;
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
main {
    display: flex;
    flex-direction: row;
    background: linear-gradient(-45deg, #ee7752, #ead248, #23a6d5);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    overflow: hidden;
}
aside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
aside h1 {
    font-weight: bold;
    font-size: 3.5rem;
}
aside p {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}
.text-center h1 {
    font-family: "Roboto", sans-serif;
}
body {
    height: 100vh;
}
.form {
    height: 85%;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    width: 70%;
}
.input-width {
    width: 100px;
}
.GoogleIcon {
    width: 250px;
}
.GoogleIcon:hover {
    cursor: pointer;
}
.orang {
    background-color: #4285f4 !important;
    border: 1px solid #4285f4 !important;
    width: 250px !important;
}
.dfex {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nowe {
    font-size: 14px;
    cursor: pointer;
}
.nowe:hover {
    text-decoration: underline;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 1070px) {
    .form {
        height: 75%;
        width: 400px;
        height: 90%;
        background-color: rgb(255, 255, 255);
    }
    .avatar {
        max-height: 280px;
        max-width: 280px;
    }
    aside p {
        font-size: 1rem;
        margin-top: 1rem;
        text-align: center;
    }
    .tc {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 420px) {
    .form {
        height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    main {
        background: linear-gradient(-45deg, #fff, #fff);
    }
    .avatar {
        max-height: 280px;
        max-width: 280px;
    }
    aside {
        display: none;
    }
}
@media screen and (max-height: 800px) {
    .form {
        height: 90%;
        background-color: rgb(255, 255, 255);
    }
    .avatar {
        max-height: 220px;
        max-width: 220px;
    }
}
